.metadata
/Hibernate_Connetion/.settings
/Hibernate_Connetion/target
/Hibernate_Connetion/.classpath
/Hibernate_Connetion/.project

/com.hibernatecrud/.settings
/com.hibernatecrud/target
/com.hibernatecrud/.classpath
/com.hibernatecrud/.project
